body {
	text-align:center;
	background-image: url(images/bg1.png);
	background-attachment: fixed;
	font-family: Century gothic;
	word-wrap: break-word;
}

#main {
	width:80%;
	padding:0px;
	margin-right:auto;
	margin-left:auto;
	background-image: url(images/main.png);
	border-radius: 25px;
}

#banner_slot {
	background: #b3b3b3;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	height: 50px;
}

#banner_container {
	padding: 1%;
}

#banner {
	width: 100%;
	height: 100%;
}

#nav {
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: relative;
	word-wrap: break-word;
	background-color: #CCCCCC;
	font-size:24px;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
}

#nav li {
	display: inline-block;
	min-width: 30%;
	background: #CCCCCC;
}

#nav li:hover {
	background: #b3b3b3;
}

#nav li a {
	color: #333333;
	text-decoration: none;
}

#nav li a,visited {
	color: #1a1a1a;
}

#nav li ul {
	display: none;
	position: absolute;
	border: 3px solid #a4a4a4;
	border-left: 0;
	border-right: 0;
	min-width: inherit;
	padding: 0px;
	margin: 0px;
}

#nav li:hover ul {
	display: block;
}

#nav li ul li {
	width: 100%;
	padding: 0px;
	margin: 0px;
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
	body {font-size:16px;}
}

@media all and (min-width: 768px) and (max-width: 1024px) {
	body {font-size:15px;}
}

@media all and (min-width: 480px) and (max-width: 768px) {
	body {font-size:14px;}
}

@media all and (max-width: 480px) {
	body {font-size:13px;}
}