body {
	text-align:center;
	background-image: url(images/bg1.png);
	background-attachment: fixed;
	font-family: mainfont;
	word-wrap: break-word;
}

p {
	margin:10px;
	color:#2B1809;
}

a {
	color:#93521f;
	text-decoration:none;
}

a, visited {
	color:#7e461b;
}

h1, h2, h3, h4, h5, h6 {
	font-family:courier;
}

#main {
	width:80%;
	padding:0px;
	margin-right:auto;
	margin-left:auto;
	background: #cccccc; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#c1a171, #70593A); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#c1a171, #70593A); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#c1a171, #70593A); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#c1a171, #70593A); /* Standard syntax */
	border-radius: 25px;
	color: #2B1809;
	box-shadow: 0 2px 8px 0 #342918, 0 6px 20px 0 #342918;
}

#banner_container {
	padding: 1%;
	margin: 5px;
	background: #2B1809;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	box-shadow: 0 2px 8px 0 #2b1808;
	border: solid 3px #8B6536;
}

#banner {
	width: 100%;
	height: 100%;
}

#nav {
	list-style-type: none;
	padding: 0;
	margin: 5px;
	margin-top: 0px;
	position: relative;
	word-wrap: break-word;
	background: #2B1809;
	font-size:24px;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
	box-shadow: 0 4px 8px 0 #2b1808;
	border: solid 3px #8B6536;
}

#nav li {
	display: inline-block;
	min-width: 30%;
	background: #2B1809;
}

#nav li:hover {
	background: #542f12;
	-webkit-transition: background 0.5s linear;
    transition: background 0.5s ease;
}

#nav li a {
	color: #d0b895;
	text-decoration: none;
}

#nav li a,visited {
	color: #c9ad83;
}

#nav li ul {
	display: none;
	position: absolute;
	border: 3px solid #8B6536;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	min-width: inherit;
	padding: 0px;
	margin: 0px;
	box-shadow: 0 4px 8px 0 #2b1808;
}

#nav li:hover ul {
	display: block;
}

#nav li ul li {
	width: 100%;
	padding: 0px;
	margin: 0px;
}

#batchphoto {
	width:80%;
	height:auto;
	border-radius:25px;
	box-shadow: 0 4px 8px 0 #2b1808;
	border: solid 3px #8B6536;
}

#disperse {
	width:40%;
	height:auto;
	border-radius:25px;
	box-shadow: 0 4px 8px 0 #2b1808;
	border: solid 3px #8B6536;
}

footer {
	background: #666666;
	animation: ftbg 10s linear 2s infinite;
	margin: 0;
	margin-top: 2pc;
	border-top: solid 4px #999999;
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
	body {font-size:16px;}
	#nav {font-size:24px;margin: 5px;}
	#banner_container {margin: 5px;}
}

@media all and (min-width: 768px) and (max-width: 1024px) {
	body {font-size:15px;}
	#nav {font-size:22px;}
}

@media all and (min-width: 480px) and (max-width: 768px) {
	body {font-size:14px;}
	#nav {font-size:20px;margin: 3px;}
	#banner_container {margin: 3px;}
	#batchphoto {width:85%;height:auto;}
	#disperse {width:60%}
}

@media all and (max-width: 480px) {
	body {font-size:13px;}
	#nav {font-size:18px;margin: 1px;}
	#banner_container {margin: 1px;}
	#batchphoto {width:90%;height:auto;}
	#disperse {width:80%}
}

@keyframes ftbg {
    0%   {background: #666666;}
    50%  {background: #999999;}
	100%   {background: #666666;}
}

@font-face {
    font-family: "mainfont";
    src: url(GOTHIC.ttf) format("truetype");
}